
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;


    
}

body {
    background: linear-gradient(to bottom,#bcd6fd, #f6faba);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
  
  }
li, a, button {
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

header {
    background: rgb(115, 202, 161);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    height: 120px;
}
.nav_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    margin-left: 40px;
    cursor: pointer;
    width: 150px;
}

.nav_link {
    list-style: none;
}
.nav_link li{
    display: inline-block;
    padding:  0px 40px;
}
.nav_link li a{
    transition: all 0.3s ease 0s;
}
.nav_link li a:hover{
    color: #000000;
}

.nav_box button {
    transition: all 0.3s ease 0s;
    padding: 15px 35px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid rgb(115, 202, 161);
    cursor: pointer;
    color: black;
    margin:0 40px 0 100px ;
}
.nav_box button:hover{
    background-color: #000000;
    color: white;
}
.button-content button:hover{
    background-color: rgb(115, 202, 161);
    color: rgb(255, 255, 255);
}

/**************/

section {
    height: 540px; /**********/
    
    display: flex;
    background: rgb(224, 224, 224);
    display: flex;
    justify-content: space-between;
}

.content-left {
    display: grid;
    grid-template-columns: 90%;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    background: rgb(255, 255, 255);
    width: 45%;  
    height: 400px;
    border-radius:0 10px 10px 0;  
    overflow: auto;
    min-width: 50%;
    min-height: none;
}
.content-left h1 p {
    text-justify: auto;
}
.content-left h1{
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 40px;
    
}
.content-left p:nth-last-child(2){
    font-weight: 600;
}
.content-left button {
    transition: all 0.3s ease 0s;
    padding: 15px 35px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid rgb(115, 202, 161);
    cursor: pointer;
    color: black;
    margin-left: 20px;
}
.content-right {
    margin-top: 20px;
    width: 48%;
    height: 500px;
    background-image: url(../images/spicer.jpg);    
    border-radius: 10px 0 0 10px;
    display: grid;
    align-items: end;
    justify-content: start;
    object-fit: cover;
}

.info{
    background-color: white;
    width: 300px;
    height: 120px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
}
.info-text p {
    font-size: 15px;
}
.info-text p:nth-child(1) {
    font-weight: 700;
}
.info-container{
    display:grid;
    grid-template-columns: 50px 100%;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}
.info-container div{
    margin-top: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.info-container .info-text {
    display: grid;
    align-items: center;
    justify-content: start;
}
/**********************************************************/

.boxex-plus-proff-developer{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: repeat(2, 1fr) / 300px 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.boxex-plus-proff-developer div{
    height: 110px;
    border: 2px solid rgb(115, 202, 161);
    border-radius: 10px;
}
.boxex-plus-proff-developer div:hover{
    box-shadow:   0 0 10px rgb(115, 202, 161);
}


.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 800;
}
.div2{
    display: grid;
    align-items: center;
    height: 200px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px 0 0 10px;
    margin-left: 10%;
    margin-top: 30px;
    transition: all 0.7s  ;
    
}
.div2:hover{
    transition: all 0.7s  ;
    border-radius: 10px 10px 10px 10px; 
    margin-right: 10%;
}
.div2 p{
    margin-left: 100px;
    margin-right: 20px;
    font-weight: 700;
}
.div3 p {
    margin-left: 10px;

}
span img{
    height: 50px;
}
span {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}
span p {
    margin-left: 10px;
  font-weight: 900;

}

.div3 p:nth-child(1){
    font-weight: 700;
}
.div5 p:nth-last-child(2){
    font-weight: 700;
}
/***********************************************/
.slider-box{
    margin-top: 30px;
}
.title-slider{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 800;
}
.container{
    display: grid;
    justify-content: center;
    margin-top: 20px;
}
.container img{
    width: 250px;
    height: 250px;
}
.slider {
    width: 1200px;
    height: 250px;
    overflow: hidden;
}
.slider-line{
    display: flex;
    width: 6000px;
    height: 250px;
    position: relative;
    left: 0;
    transition: all ease 2s; 
}

.slider-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000000;
    
}
.slider-button button{
    margin-left: 5px;
    transition: all 0.3s ease 0s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #545454;
    cursor: pointer;
}
.slider-button button:hover{
    box-shadow: 0 0 15px #545454;
}

.slider-line-box {
    width: 600px ;  
    display: grid;
    background: rgb(224, 224, 224);
    margin-left: 5px;
    border-radius: 10px;
    grid-template: repeat(4, 50px) / 250px 170px 200px ;
    overflow: hidden;
}


.image-person{
    grid-area: 1 / 1 / 6 / 1 ;
}
.name-person{
    display: grid;
    align-items: center;
    justify-content: center;
   
}
.name-person p{
    font-size: 20px;
    font-weight: 700;
}
.button-person{
    display: grid;
    align-items: center;
    justify-content: center;
}
.button-person button{
    display: grid;
    align-items: center;
    width: 95px;
    margin-left: 45px;
    transition: all 0.3s ease 0s;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    color: black;
    border: none;
}
.button-person button:hover{
    color: white;
    background-color:rgb(115, 202, 161);
}

.text-person{
    grid-area: 2 / 4 / 5 / 2 ;
    margin-left: 5px;
    text-align: justify;
    width:330px; 
}

.data-person{  
    display: grid;
    
    grid-area: 5 / 3 / 5 / 3 ;
}
.data-person-p {
    margin-left: 60px;
    font-size: 14px; 
}
/**********************************************************************************/

.program-curs-box{
    margin-top: 30px;
}

.program-left-box{
    margin-left: 50px;
    margin-right: 50px;
   
}
  
.right-box{
    display: flex;
}
.img-box-backbgound{
    display: grid;
    align-items: center;
}
.img-box-backbgound img {
    max-width:  100%;
    min-width: 300px;
}


.program-box{
   
    border: rgb(115, 202, 161) solid 2px;
      
    border-radius: 10px;
    width: 1000px;
    height: 100px;
    overflow: hidden;
    transition: 2s;
}
.program-box-two{
    margin-top: 20px;  
    border-radius: 10px;
    width: 1000px;
    height: 100px;
    overflow: hidden;
    transition: 2s;
}

.program-box-three{
    margin-top: 20px; 
    border-radius: 10px;
    width: 1000px;
    height: 100px;
    overflow: hidden;
    transition: 2s;
}

.program-box-four{
    margin-top: 20px; 
    border-radius: 10px;
    width: 1000px;
    height: 100px;
    overflow: hidden;
    transition: 2s;
}

.program-box-five{
    margin-top: 20px; 
    border-radius: 10px;
    width: 1000px;
    height: 100px;
    overflow: hidden;
    transition: 2s;
}

.program-box-sixe{
    margin-top: 20px; 
    border-radius: 10px;
    width: 1000px;
    height: 100px;
    overflow: hidden;
    transition: 2s;
}
.program-box-line{    
    width: 1000px;
    height: 300px;
    
    display: grid;
    grid-template: repeat(3, 100px) / 100px 100px 100px 100px 100px;
   
}


.name{
    grid-area: 1 / 1 / auto / 3 ;
    background: rgb(115, 202, 161);
}
.name p{
    display: grid;
    margin-top: 30px ;
    justify-content: center;
    cursor: pointer;
}
.name p:hover{
    display: grid;
    margin-top: 30px ;
    justify-content: center;
    cursor: pointer;
    text-shadow: 4px 0  10px  white;
}

.program-box-line .name p{
    font-size: 25px;
    font-weight: 700;
}
.program-box-line p{
    border-bottom: 2px solid rgb(115, 202, 161);
}
.button-program{
    display: flex;
    align-items: center;
    justify-content: end;
    background: rgb(115, 202, 161);
    height: 100px;
    overflow: hidden;
    grid-area: 1 / 3 / auto / 8 ;
    overflow:hidden ;
}


.button-program button{
    transition: all 0.3s ease 0s;
    border: none;
    border-radius: 10px;
    width: 100px;
    margin-right: 20px;
    height: 60px;
    background: white;
    color:#000000;
    content: "Відкрити";
}


/******
.button-program button:focus::before{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-right: 50px;
    margin-left: 20px;   
     content: "Закрити";
}
.button-program button:active::after{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-right: 50px;
    margin-left: 20px;   
     content: "Відкрити";
}
*/

.text-program{
    margin: 10px 10px;
    height: 50px;
    grid-area: 2 / 1 / auto/ 8;
}
.text-program p {
    font-size: 20px;
    font-weight: 700px;
}
.text-two-program{
    margin: 10px 10px;
    height: 50px;
    margin-top: -40px;
    grid-area: 3 / 1 / auto /8 ;
}
.text-two-program p {
    font-size: 20px;
    font-weight: 700px;
}

.text-three-program{
    margin: 10px 10px;
    height: 50px;
    
    grid-area: 3 / 1/ auto/8;
}
.text-three-program p {
    font-size: 20px;
    font-weight: 700px;
}
.text-four-program{
    margin: 10px 10px;
    height: 50px;
    margin-top: -40px;
    grid-area: 4 / 1 / auto /8 ;
}
.text-four-program p {
    font-size: 20px;
    font-weight: 700px;
}
/******************************************************************/
.block-project-main{
   display: grid;
   justify-content: center;
   margin-top: 30px;
}
.block-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 300px;
    max-width: 1920px;
}

.left-block-container{
    border-radius: 10px;
    height: 250px;
    width: 400px ;
    margin-right:10px ;
}
.left-block-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.right-block-container{
    border-radius: 10px;
    height: 250px;
    width: 700px;
    display: grid;
    grid-template: repeat(5) / 100px 100px 100px 100px;
}

.title-first{
    grid-area: 1 / 1 / auto / 6;
    height: 100px;
}
.title-first p {
    margin-left: 50px;
    margin-top: 5px;
}
.title-first p:nth-last-child(2){
    margin-top: 25px;
    font-size: 20px;
    font-weight: 800;
}
.button-two-block{
    grid-area: 1 / 6 / auto / 6;
    display: grid;
    align-items: center;
    justify-content: center;
}
.button-two-block button{
   border: solid 2px rgb(177, 177, 177);
   width: 200px;
   height: 30px;
   border-radius: 10px;
   color: black;
   background: white;
}
.button-two-block button:hover{
    background: rgb(115, 202, 161);
    color: rgb(255, 255, 255);
}
.text-main-container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    grid-area: 2 / 1 / auto / 7;
}
.text-main-container p{
    margin: 0 10px;
    color: #545454;
}
.bottom-container-box{
    grid-area: 3 / 1 /auto/ 7;
    display: flex;
    height: 40px;
    align-items: center;
}
.bottom-container-box a{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    border: rgb(115, 202, 161) 2px solid;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    color: rgb(0, 0, 0);
    
}
.bottom-container-box a:hover{
    background: rgb(115, 202, 161);
    color: rgb(255, 255, 255);
}

/*************************************************/
.container-slider-two{
    
    justify-content: center;
    margin-top: 30px;
}
.main-block-techer{
    display: flex;
    justify-content: center; 
   
}
.block-img {
    width: 225px;
    margin-right: -100px;
}
.block-img img{
    border-radius: 10px 10px;
}
.block-info{
    margin-right: 30px;
    width: 225px;
    border: solid 2px rgb(115, 202, 161);
    border-radius: 10px;
}
.block-info p:nth-last-child(2){
    display: grid;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
  
}
.block-info p:nth-last-child(1){
    display: grid;
    justify-content: center;
    color: #545454;
}
/*********************************************/

footer{
    margin-top: 50px;
    background: black;
    height: 200px;
}
.main-container-two {
    display: flex;
    justify-content: space-evenly;

}
.footer-box-left{
    margin-top: 20px;
}
.footer-box-left p{
    margin-top: 10px;
    
}
.footer-box-left p:nth-child(1){
    font-size: 20px;
    font-weight: 700;
    
}
.footer-box-main{
    margin-top: 20px;
    
}
.footer-box-main p{
    margin-top: 10px;
}
.footer-box-main p:nth-child(1){
    font-size: 20px;
    font-weight: 700;
}
.footer-box-right{
    margin-top: 20px;
}
.footer-box-right  p{
    margin-top: 10px;
}
.footer-box-right p:nth-child(1){
    font-size: 20px;
    font-weight: 700;
}
.footer-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: white; 
    grid-area: 2 / 2 / auto/ 5;
}
.main-container-two p{
    color: white;
}

